<h3>ジャンル一覧</h3>
<div class="side_genre">
  <% @genres.each do |genre|%>
    <%= link_to genre.type, genre_posts_index_path(genre) %>
  <% end %>
  <br>
  <%= link_to "ジャンルの追加",  user_genres_path(user_id: current_user.id) %>
</div>