<%# 友達一覧ビュー %>
<h1>友達を探そう</h1>
<div class="friend_custom">
  <%# 全体か友達（自分含む）かを選べるタブ %>
  <div class="friend_custom_bar">
    <%= link_to "友達検索", friend_search_path(current_user.id), class:"friend_tab" %>
    <%= link_to "リクエスト承認待ち", friend_receive_path(current_user.id), class:"friend_tab" %>
    <%= link_to "友達一覧", user_friends_path(current_user.id), class:"friend_index_tab" %>
  </div>
  <%# 友達の一覧、検索結果も含めて %>
  <div class="friend_box">
    <%# 友達一覧を表示 %>
    <%= render partial: "friends/friend", locals: { models: @friends } %>
  </div>
</div>