<div class="side_point">
  <p>Relearnポイント：</p>
  <p class="top_side_total_point"><%= total_point %>P</p>
  <p>Relearn率：</p>
  <p class="top_side_average_rate"><%= average_rate(current_user) %>/1.00</p>
</div>
<div class="top_page_graph_box">
  <p class="top_page_graph_title"><次の復習の忘却推移></p>
  <%# 記憶忘却推移を表現したグラフ %>
  <%= render partial: "layouts/chart", locals: { post: post, height: '250px' } %>
</div>