/*
 *= require_tree .
 *= require_self
 */

// -- bootstrap import
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "owl.carousel";
@import "owl.theme.default";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier", "Helvetica Neue", "Helvetica", "Arial", YuGothic,
    "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ",
    Meiryo, "ＭＳ ゴシック", sans-serif;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
main {
  min-height: 800px;
  height: auto;
  background-color: #d5eeff;
  color: #1b435d;
  font-weight: bold;
}
p {
  margin: 0;
}
h1 {
  width: 350px;
  color: #78bbe6;
  font-weight: bold;
}

// ヘッダー
//
header {
  background-color: #1b435d;
  width: 100%;
  height: 90px;
  color: white;
  font-weight: bold;
  li {
    list-style: none;
  }
}
.logo {
  padding: 0 10px;
  width: 100px;
  float: left;
}
.logo_img {
  width: 100px;
}
.header_right {
  text-align: right;
  // margin: 30px 0;
  line-height: 90px;
  float: right;
  height: 80px;
  position: sticky;
  width: 700px;
  li {
    display: inline-block;
  }
}

.nav-list_center {
  float: left;
  margin: 20px 0px 4px 100px;
  height: 80px;
  width: 500px;
}
.nav-list {
  float: right;
  margin-right: 20px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  color: white;
  width: auto;
  margin-left: 20px;
}
.nav-list-item-center {
  list-style: none;
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
  // height: 50px;
  // width: 110px;
  // border-radius: 5px;
  // background-color: #78bbe6;
}
.nav_user_image {
  width: 50px;
  border-radius: 25px;
}
// ボタン設定
// .new_post_btn,
// .relearn_posts_btn,
// .relearn_completes_btn {
//   color: white;
//   font-size: 16px;
// }

//トップページ
//
.top_title {
  display: flex;
  color: white;
  .quote {
    width: 500px;
    text-align: left;
    padding: 0.5em 0.5em;
    margin-top: 0;
    background: #78bbe6;
    font-weight: bold;
    color: #d5eeff;
    border: solid 3px white;
    border-radius: 10px;
  }
  .quote_word {
    color: white;
  }
}
.genre_type {
  background: #78bbe6;
  font-weight: bold;
  color: white;
  border: solid 3px #78bbe6;
  border-radius: 10px;
}

.order_post {
  display: flex;
  a {
    margin-right: 5px;
  }
}
.latest_posts {
  text-align: left;
  padding: 0.5em 0.5em;
  margin-top: 0;
  background: white;
  font-weight: bold;
  border: solid 5px#78bbe6;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  margin-right: 15px;
  padding: 5px;
  height: 200px;
  font-size: 17px;
  box-shadow: 2px 2px 6px -1px gray;

  .latest_term {
    border: solid 3px #78bbe6;
    border-radius: 10px;
    text-align: center;
    width: 180px;
  }
  .post_box {
    width: 180px;
    p {
      color: #1b435d;
    }
    .post_title {
      border-bottom: solid 2px #1b435d;
    }
  }
}
// 遅れた時のメッセージ
.delay_relearn {
  color: red;
}
// 1日以上先の時のメッセージ
.future_relearn {
  color: #78bbe6;
}
// １日未満の時のメッセージ
.ealry_relearn {
  color: #f99f48;
}
// トップページ右側のポイント表示
.side_point {
  width: 100%;
  text-align: left;
  padding: 0.5em 0.5em;
  margin-top: 0;
  background: #78bbe6;
  font-weight: bold;
  color: #d5eeff;
  border: solid 3px white;
  border-radius: 10px;
}
// サインインしてないユーザーへの表示
.signend_false {
  margin: 100px;
  font-size: 40px;
  height: 700px;
}

// ポイント入力フォームの位置調整
.point_form {
  display: flex;
}
.check_box {
  text-align: right;
}

// datepickerのカレンダーの配置の整地に必要
.plan_edit_table {
  position: relative;
  tr,
  th,
  td {
    height: 50px;
    vertical-align: inherit;
  }
  .changeable_range {
    color: red;
  }
}

// 投稿一覧
//
.post_index {
  padding: 0.5em 0.5em;
  margin: 2em 0;
  font-weight: bold;
  color: black;
  background: #78bbe6;
  border: solid 3px #fff;
  border-radius: 10px;
  li,
  a {
    list-style: none;
    color: white;
  }
  tbody td {
    padding: 6px;
  }
  thead tr :nth-child(1) {
    width: 5%;
  }
  thead tr :nth-child(2) {
    width: 25%;
  }
  thead tr :nth-child(3) {
    width: 20%;
  }
  thead tr :nth-child(4) {
    width: 42.5%;
  }
  thead tr :nth-child(5) {
    width: 20%;
  }
}

// サイドバーのジャンル一覧
.side_genre {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #78bbe6;
  background: #78bbe6;
  border: solid 3px #fff;
  border-radius: 10px;
  li,
  a {
    list-style: none;
    color: white;
  }
}
.side_title {
  font-weight: bold;
  color: #78bbe6;
}

// アカウント編集ページ
//
.account_custom {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-right: 100px;
}
.account_custom_bar {
  width: 400px;
  margin: 0 auto;
  display: flex;
}
.account_edit {
  width: 50%;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 10px;
  display: inline-block;
}
.account_sign_out_confirm {
  width: 50%;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 10px;
  display: inline-block;
}
.account_item {
  width: 50%;
  text-align: center;
  display: inline-block;
}
#user_account_info {
  margin: 20px auto 0;
  width: 400px;
}
.edit_name {
  margin-top: 30px;
  text-align: left;
}
.edit_name_form {
  width: 400px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid greenyellow;
}
.edit_email {
  margin-top: 30px;
  text-align: left;
}
.edit_email_form {
  width: 400px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid greenyellow;
}
.profile_edit_btn {
  margin-top: 20px;
}
.edit_user_image {
  width: 150px;
  border-radius: 75px;
}
.edit_email_status_box {
  margin-top: 30px;
  text-align: left;
}
.edit_privacy {
  margin-top: 30px;
  text-align: left;
}
.edit_email_status,
.edit_rank_status,
.edit_search_status {
  width: 400px;
  text-align: left;
  display: flex;
  font-size: 20px;
}
.profile_edit_btn {
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-radius: 5px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #78bbe6;
  color: white;
  text-align: center;
}
// 退会ページ
.sign_out_box {
  margin: 50px auto;
  width: 400px;
  text-align: left;
}
.sign_out_comment {
  text-align: left;
  margin-top: 30px;
}
.sign_out_form {
  margin-top: 10px;
  width: 100%;
  height: 70px;
}
.user_delete_btn {
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  width: 30%;
  border-radius: 5px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #eb0cba;
  color: white;
  text-align: center;
}
