<!DOCTYPE html>
<html>
  <%# ヘッドをレンダリング %>
  <%= render 'layouts/head' %>
  <body>
    <%# ヘッダーをレンダリング %>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <div id="flash_messages">
          <%# 成功・エラー文があれば表示するレンダリング %>
          <%= render "layouts/flash_messages" %>
        </div>
        <%# 各ビューの読み込み %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
